Screen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#dialog > Label {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

#dialog > Button {
    width: 100%;
}

Container {
    align: center middle;
}

Button {
    width: 80%;
    margin: 1;
}

DirectoryTree {
    width: 80%;
    height: 10;
    margin: 1;
}

Input {
    width: 80%;
    margin: 1;
}
